@charset "UTF-8";

div#pizza{
    max-width: 320px;
    background: url(uploads/2019/07/pizza320.jpg);
    background-repeat: no-repeat;
    top: 100%;
    left: 0%;
    
}
div#restaurante{
    background: url(uploads/2019/07/restaurante02320.jpg);
    background-repeat: no-repeat;
    top: 200%;
    left: 0%;
    
}
footer{
    display: none;
}


