@charset "UTF-8";
/* Typical Device Breakpoints
peqeunas telas: ate 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
TV ou grandes telas : 1200px a mais
*/
@media print {
    body{
        font-family: 'Courier New', Courier, monospace;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    main{
        border: 2px solid black;

    }
    main::after{
        content: "Essa impressão foi feita através do site www.cursoemvideo.com";
        text-decoration: overline;
    }

}
@media screen and (min-width: 768px) and (max-width:992px){  /*TABLET*/ 
    body{
        background-image: url(../imagens/back-tablet.jpg);

    } 
    img#phone { display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width:1200px){  /*DESKTOP*/ 
    body{
        background-image: url(../imagens/back-pc.jpg);
    } 
    img#phone { display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}
@media screen and (min-width: 1200px) { /*GRANDES TELAS*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

}
